MusicBox
{
    zorder 200

    container Panel(MusicBox/Main)
    {
        width 0.5
        height 1
        left 0.25
        top 0
        transparent true

        container Panel(MusicBox/1)
        {
            width 0.125
            height 0.075
            left 0
            top 0.925

            element TextArea(MusicBox/1/cap)
            {
                left 0.05
                font_name SdkTrays/Caption
                char_height 0.03
                colour 1 0 0
                caption A
            }
        }

        container Panel(MusicBox/2)
        {
            width 0.125
            height 0.075
            left 0.125
            top 0.925

            element TextArea(MusicBox/2/cap)
            {
                left 0.05
                font_name SdkTrays/Caption
                char_height 0.03
                colour 1 0 0
                caption S
            }
        }

        container Panel(MusicBox/3)
        {
            width 0.125
            height 0.075
            left 0.25
            top 0.925

            element TextArea(MusicBox/3/cap)
            {
                left 0.05
                font_name SdkTrays/Caption
                char_height 0.03
                colour 1 0 0
                caption K
            }
        }

        container Panel(MusicBox/4)
        {
            width 0.125
            height 0.075
            left 0.375
            top 0.925

            element TextArea(MusicBox/4/cap)
            {
                left 0.05
                font_name SdkTrays/Caption
                char_height 0.03
                colour 1 0 0
                caption L
            }
        }
    }
}

RunningBox
{
    zorder 100

    container Panel(RunningBox/Main)
    {
        width 0.5
        height 1
        left 0.25
        top 0
    }
}

ScoreBoard
{
    container Panel(ScoreBoard/Main)
    {
        left 0
        top 0
        transparent true

        element TextArea(ScoreBoard/ScoreBoard)
        {
            font_name SdkTrays/Caption
            char_height 0.05
            colour 1 1 1
            caption 0
        }
    }
}
